body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    background-color: beige;
}

.navbar-sticky-top {
    background-color: #0000006c; 
    backdrop-filter: blur(10px); 
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    display: flex;
}

.header-navigation {
    text-align: right;
    color: white;
    display: flex;
}

.navbar-page-list {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.header {
    height: 500px;
    background-image:
    linear-gradient(
        rgba(0, 255, 187, 0.45)),
        url(./image/hero-small.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0%;
}

.header-title {
    text-align: center;
    color: white;
    display: flex;
}

.section-tours {
    align-items: center;
    background-color: white;
}

.header-text-secondary {
    align-items: center;
    color: green;
}

.service-details-cards {
    display: flex;
    float: left;
    width: fit-content;
}

.card-1-of-4{
    background-color: white;
}