body {
    background-color: black;
    margin: 30px;
}

.candidate-avatar-box {
    border-radius: 20px;
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
}

.self-intro-box {
    border-radius: 20px;
    background-color: gray;
    color: white;
    width: 400px;
    height: 100px;
    flex-wrap: wrap;
    margin-right: 10px;
    padding: 5px 5px;
    display: flex;
    box-sizing: border-box;
}
